body{
	background-image: url(/static/img/homepagebg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.container-fluid{
	padding: 0px;
	margin:0px;
}

.container-fluid .sidebar{
	width: 300px;
	border: none;
	padding: 0px;
	height: 100%;
	position: fixed;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(0,0,0,0.3);
}

.container-fluid .sidebar .userInfo{	
	position: relative;
	width: 120px;
	margin-left: auto;
    margin-right: auto;
}

.container-fluid .sidebar .userInfo img{
	margin-top: 40px;
	width: 120px;
	height: 120px;
}

.container-fluid .sidebar .userInfo p{
	text-align: center;
	margin-top: 20px;
	color: white;
	font-size: 15px;
}


.container-fluid .sidebar .nav-sidebar{
	margin-top: 40px;
}

.container-fluid .sidebar .active{
	background-color: #436EEE;
}

.container-fluid .sidebar a:hover{
	background-color: #5CACEE;
}

.container-fluid .sidebar a{
	margin-left: 15px;
	color:white;
	font-size: 20px;
}