body{
	background-image: url(/static/img/homepagebg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-style: normal;
}

.container-fluid{
	padding: 0px;
	margin:0px;
}

.container-fluid .sidebar{
	border: none;
	padding: 0px;
	height: 100%;
	position: fixed;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(0,0,0,0.3);
}

.container-fluid .sidebar .userInfo{	
	position: relative;
	width: 120px;
	margin-left: auto;
    margin-right: auto;
}

.container-fluid .sidebar .userInfo img{
	margin-top: 40px;
	width: 120px;
	height: 120px;
}

.container-fluid .sidebar .userInfo p{
	text-align: center;
	margin-top: 20px;
	color: white;
	font-size: 15px;
}


.container-fluid .sidebar .nav-sidebar{
	margin-top: 40px;
}


.container-fluid .sidebar .active{
	background-color: #436EEE;
}

.container-fluid .sidebar a:hover{
	background-color: #5CACEE;
}

.container-fluid .sidebar a{
	margin-left: 15px;
	color:white;
	font-size: 20px;
}

.main .overview{
	margin-top: 20px;
}

.main .overview .header h1{
	color: #fff;
	font-size: 90px;
}

.main .overview .seperator{
	position: relative;
	background-color: #fff;
	height: 2px;
}

.main .overview .description{
	position: relative;
	color: white;
	margin-top: 10px;
}

.main .overview .graph{
	width: 97%;
	height: 600px;
	margin-top: 20px;
	background-color: rgba(0,0,0,0.3);
}

/* Carousel base class */
.main .overview .carousel {
	padding-top: 5.5%;
  	height: 500px;
}

.main .overview .carousel-indicators{
	bottom: -25px;
}

/* Since positioning the image, we need to help out the caption */
.main .overview .carousel-caption {
  	z-index: 10;
}

/* Declare heights because of positioning of img element */
.main .overview .carousel .item {
  	height: 500px;
}

.main .overview .carousel-inner > .item > img {
  	position: absolute;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	height: 500px;
}

.main .overview .carousel-control.left, .main .overview .carousel-control.right{
	margin-top: 5.5%;
	height: 500px
}

.main .reservation{
	background-color: rgba(0,0,0,0.3);
	margin-top: 20px;
	width: 97%
}

.main .reservation .searchBar{
	width: 95%;
	padding-top: 10px;
	color: white;
}

.main .reservation .searchBar input{
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	color: white;
}

.main .reservation .searchBar .btn-search{
	background-color: #436EEE;
	color: white;
}

.main .reservation #map{
	width: 97%;
	height: 500px;	
	margin-left: 15px;
}

.main .reservation .reserveButton{
	width: 100%;
	margin-top: 15px;
}

.main .reserveChoose{
	width: 97%;
	background-color: rgba(0,0,0,0.3);
	margin-top: 20px;
	position: relative;
}

.main .reserveChoose .hotelDetail{
	margin-top: 20px;
	padding-top: 20px;
}

.main .reserveChoose .hotelDetail .form-group{
	width: 98%;
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
	padding-bottom: 20px;
}
.main .reserveChoose .hotelDetail .form-group label{
	text-align: left;
	color:white;
	font-size: 20px;
	font-weight: lighter;
}

.main .reserveChoose .error{
	color: white;
	text-align: center;
	padding-bottom: 10px;
}

.main .reserveSuccess{
	color: white;
}

.main .meal{
	background-color: rgba(0,0,0,0.3);
	margin-top: 20px;
	width: 97%;
	height: 400px;
}

.main .salesInfo{
	background-color: rgba(0,0,0,0.3);
	margin-top: 20px;
	width: 97%
}

.main .salesInfo .salesInfoPlan{
	height: 200px;
	font-size: 100px;
	color: white;
}
.main .salesInfo .salesInfoSelection .row{
	padding: 0px;
	margin: 0px;
}

.main .salesInfo .salesInfoSelection .row .btn-group{
	padding: 0px;
	margin: 0px;
}

.main .salesInfo .salesInfoSelection .row .btn-group .dropdown-menu{
	width: 100%;
}

.main .salesInfo .salesInfoSelection .row .btn-group .selectionBtn{
	width: 88%;
}

.main .salesInfo .salesInfoChart{
	text-align: center;
	color: white;
}

.main .salesInfo .salesInfoChart #lineChart{
	margin-top: 10px;
	margin-left: 10px;
	height: 400px;
	width: 97%;
}

.main .salesInfo .salesInfoChart #pieChart{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	height: 700px;
	width: 97%;
}

.main .humanResources{
	background-color: rgba(0,0,0,0.3);
	margin-top: 20px;
	width: 97%;
}

.main .humanResources .table{
	color: white;
}

.main .humanResources tr{
	background: rgba(0,0,0,0) !important;
	text-align:left;
}


.main .humanResources .table .btn-group{
	width: 100%
}

.main .humanResources .table .sortButton{
	width: 80%
}

.main .humanResources .selected td{
	background-color: rgba(255, 255, 255, 0.2);
}

.main .humanResources .salaryForm{
	color: white;
}

.main .humanResources .salaryForm input{
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	color: white;
}

.main .humanResources .errormsg{
	padding-bottom: 20px;
	color: white;
	text-align: center;
}

.main .humanResources .form-group{
	margin-left: 0px;
	margin-right: 20px;
}

.main .checkBill{
	margin-top: 20px;
	width: 97%;
}

.main .checkBill .today h1{
	color: white;
	font-size: 100px;
	margin-left: 15px;
}

.main .checkBill .bills{
	background-color: rgba(0,0,0,0.3);
	height: 450px;
}
.main .checkBill .chart{
	margin-top: 10px;
	height: 96%
}

.main .checkBill #billChart{
	height: 100%;
	width: 100%;
}

.main .checkBill .details{
	color: white;
}


